In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("Standard_tag")

In [ ]:
df = pd.DataFrame(columns = ['ReviewNo','P','N','PP','NN','NP','PN'])

In [ ]:
for index, row in data.iterrows():
  if row['R'] not in df['ReviewNo']:
    df2 = {'ReviewNo': row['R'], 'P': 0, 'N': 0,'PP': 0 , 'NN': 0 , 'NP': 0, 'PN': 0}
    df = df.append(df2, ignore_index = True)
  
  rowNo = df.index[row['R']]

  if row['S'] == 'P':
    df.at[rowNo, 'P'] = df.at[rowNo, 'P'] +1
  
  if row['S'] == 'N':
    df.at[rowNo, 'N'] = df.at[rowNo, 'N'] +1

  if row['S'] == 'PP':
    df.at[rowNo, 'PP'] = df.at[rowNo, 'PP'] +1

  if row['S'] == 'PN':
    df.at[rowNo, 'PN'] = df.at[rowNo, 'PN'] +1

  if row['S'] == 'NN':
    df.at[rowNo, 'NN'] = df.at[rowNo, 'NN'] +1

  if row['S'] == 'NP':
     df.at[rowNo, 'NP'] = df.at[rowNo, 'NP'] +1

print(df)
   
df.to_excel("thirdstep_output.xlsx")

    ReviewNo    P    N   PP   NN   NP   PN
0          0  994    0  994    0    0    0
1          1    0  994    0  994    0    0
2          2  994    0    0    0  994    0
3          3    0  994    0    0    0  994
4          4  994    0  994    0    0    0
..       ...  ...  ...  ...  ...  ...  ...
493      493  994    0  994    0    0    0
494      494  994    0  994    0    0    0
495      495  994    0  994    0    0    0
496      496  994    0  994    0    0    0
497      497  994    0  994    0    0    0

[498 rows x 7 columns]